[Desktop Entry]
Name=SuperTuxKart
Icon=/usr/local/share/pixmaps/supertuxkart_128.png
GenericName=A kart racing game
GenericName[de]=Ein Kart-Rennspiel
GenericName[fr]=Un jeu de karting
GenericName[gl]=Xogo de carreiras con karts
GenericName[pl]=Wyścigi gokartów
GenericName[ro]=Un joc de curse cu carturi
Exec=/usr/local/bin/supertuxkart --no-console
Terminal=false
StartupNotify=false
Type=Application
TryExec=/usr/local/bin/supertuxkart
Categories=Game;ArcadeGame;
